﻿@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>*@


@{ 
    Layout = null;
}
<div>
    <h1>Danh sach sach</h1>
    <div id="list"></div>

    <h3>Them, cap nhat sach</h3>
  
    <table>
        <tr>
            <td>Title</td>
            <td></td>
            <td>@Html.TextBox("TieuDe")</td>
        </tr>
        <tr>
            <td>AuthorName</td>
            <td></td>
            <td>@Html.TextBox("AuthorName")</td>
        </tr>
        <tr>
            <td>Price</td>
            <td></td>
            <td>@Html.TextBox("Price")</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input type="button" id="btnLuu" value="Luu" /> </td>
        </tr>
    </table>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        var currId = -1; //currentId
        var uri = "/api/sach"; // Khai báo biến uri dùng chung

        $(document).ready(function()
        {
            GetSach();
            
            $("#btnLuu").click(function () {
                if (currId == -1)
                {
                    var title = $("#TieuDe").val(); //Lấy giá trị trong controll
                    var authorname = $("#AuthorName").val();
                    var price = $("#Price").val();
                    CreateBook(title, authorname, price);
                }
                else
                {
                    UpdateBook();
                }
                
                //Khi lưu hoặc thêm thành công thì các ô textbox sẽ để trống    
                $("#TieuDe").val('');
                $("#AuthorName").val('');
                $("#Price").val('');
                
               
            });
            GetSach();

        });

        function GetSach() {            
            $.getJSON(uri, function (data) {
                $("#list").html(' ');
                $.each(data, function (key, val) {
                    var s = '<a href="#" onclick="ViewSach(\''+ val.id + '\' )">'+ val.Title + '</a>' + " - " + val.AuthorName + " - " + val.Price +  " - " + '<a href="#" onclick="DeleteBook(\''+ val.id + '\' )">Delete</a>';
                    var p = $("<p></p>").html(s); // Them text vao the p, cứ mỗi quyển sách là 1 thẻ p
                    $("#list").append(p);
                });
            });
        }

        //Thêm mới Sách
        function CreateBook(title, authorname, price)
        {   
            $.ajax({
                type: "POST",
                url: uri,
                data: { TieuDe: title, AuthorName: authorname, Price: price },
                sucess: function(){},
                statusCode: {
                    404: function () {
                        alert("Không thêm được");
                    },
                    201: function(){
                        GetSach();
                    }
                }

            });
        }

        //xóa sách
        function DeleteBook(id)
        {
            $.ajax({
                type: "DELETE",
                url: uri + "/" + id,
                statusCode: {
                    204: function () {
                        GetSach();
                    }
                }
            });
        }


        //Hiển thị thông tin sách
        function ViewSach(id)
        {
            $.getJSON(uri + "/" + id, function (data) {
                $("#TieuDe").val(data.TieuDe);
                $("#AuthorName").val(data.AuthorName);
                $("#Price").val(data.Price);
                currId = id;
            })
        }


        //Cập nhật thông tin sách
        function UpdateBook()
        {
            var title = $("#TieuDe").val();
            var authorName = $("#AuthorName").val();
            var price = $("#Price").val();
            $.ajax({
                type: "PUT",
                url: uri + "/" + currId,
                data: {Title:title, AuthorName: authorName, Price: price},
                statusCode: {
                    204: function()
                    {
                        GetSach();
                        currId = -1;
                    }
                }




            });
        }

    </script>




</div>